#Pastas onde ficam, temporariamente, arquivos e pastas utilizados para testar
#os códigos do diretório "AnalisadorFuncoes"
ScriptsTeste/
Python3/ExperimentosAnalisados/
Python2/ExperimentosAnalisados/
